<a href="https://colab.research.google.com/github/abertel99/Finance_FU/blob/main/FU_Expenses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Connect to ggdrive and load data

In [4]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [11]:
import pandas as pd
data_2022 = pd.read_excel("/content/gdrive/MyDrive/Finances/suivi_depenses/2022.xlsx")
data_2023 = pd.read_excel("/content/gdrive/MyDrive/Finances/suivi_depenses/2023.xlsx")

In [13]:
data = pd.concat([data_2022, data_2023])
data.head()

,Date,Libellé,Debit euros,Credit euros,Categorie,Sub_cat,Abonnement,Infos,Débit euros,Crédit euros
0,2022-06-29,VIREMENT EN VOTRE FAVEUR\nLA REDOUTE 2752875/2...,NaN,783.2,Salary,LaRedoute,0.0,STAGE,NaN,NaN
1,2022-06-27,PAIEMENT PAR CARTE \n1022 BURGER KING LOU...,15.65,NaN,Food,Restaurant,0.0,BURGERKING,NaN,NaN
2,2022-06-27,PAIEMENT PAR CARTE \nSpotify P1C2CAD442 S...,9.99,NaN,Entertainment,Music,1.0,SPOTIFY,NaN,NaN
3,2022-06-27,PAIEMENT PAR CARTE \nL'IMPERTINENTE LILLE...,4.80,NaN,Sortie,Tea Bar,0.0,LIMPERTINENTE,NaN,NaN
4,2022-06-22,PAIEMENT PAR CARTE \nLA MOULINETTE LILLE ...,8.50,NaN,Sortie,Bar,0.0,LAMOULINETTE,NaN,NaN

# Start exploring

In [15]:
data.rename(columns={"Libellé": "Label", "Debit euros": "Debit", "Credit euros": "Credit"})
data.dtypes

Date            datetime64[ns]
Libellé                 object
Debit euros            float64
Credit euros           float64
Categorie               object
Sub_cat                 object
Abonnement             float64
Infos                   object
Débit euros            float64
Crédit euros           float64
dtype: object